.about {
  color      : @color-black;
  font-size  : 17px;
  font-weight: 700;
  line-height: 20px;

  .about__item {
    list-style: none;
  }

  .about__items {
    display: flex;
    flex-direction: column;
  }

  .about__icon {
    fill: @color-green;

  }
}




